@font-face {
    font-family: 'db_heaventbold';
    src: url('fonts/db_heavent_bd_v3.2.1.eot');
    src: url('fonts/db_heavent_bd_v3.2.1.eot?#iefix') format('embedded-opentype'),
         url('fonts/db_heavent_bd_v3.2.1.woff2') format('woff2'),
         url('fonts/db_heavent_bd_v3.2.1.woff') format('woff'),
         url('fonts/db_heavent_bd_v3.2.1.ttf') format('truetype'),
         url('fonts/db_heavent_bd_v3.2.1.svg#db_heaventbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_heaventitalic';
    src: url('fonts/db_heavent_it_v3.2.1.eot');
    src: url('fonts/db_heavent_it_v3.2.1.eot?#iefix') format('embedded-opentype'),
         url('fonts/db_heavent_it_v3.2.1.woff2') format('woff2'),
         url('fonts/db_heavent_it_v3.2.1.woff') format('woff'),
         url('fonts/db_heavent_it_v3.2.1.ttf') format('truetype'),
         url('fonts/db_heavent_it_v3.2.1.svg#db_heaventitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_heaventmed';
    src: url('fonts/db_heavent_med_v3.2.1.eot');
    src: url('fonts/db_heavent_med_v3.2.1.eot?#iefix') format('embedded-opentype'),
         url('fonts/db_heavent_med_v3.2.1.woff2') format('woff2'),
         url('fonts/db_heavent_med_v3.2.1.woff') format('woff'),
         url('fonts/db_heavent_med_v3.2.1.ttf') format('truetype'),
         url('fonts/db_heavent_med_v3.2.1.svg#db_heaventmed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_heaventregular';
    src: url('fonts/db_heavent_v3.2.1.eot');
    src: url('fonts/db_heavent_v3.2.1.eot?#iefix') format('embedded-opentype'),
         url('fonts/db_heavent_v3.2.1.woff2') format('woff2'),
         url('fonts/db_heavent_v3.2.1.woff') format('woff'),
         url('fonts/db_heavent_v3.2.1.ttf') format('truetype'),
         url('fonts/db_heavent_v3.2.1.svg#db_heaventregular') format('svg');
    font-weight: normal;
    font-style: normal;
}