/* ======================================

====================================== */
body{
	font-family: $font;
	font-size: 1.25rem;
	line-height: 1;
	color:#333;
}
strong{
	font-family: $font_bold;
	font-weight: 400;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul,ol{
	padding-left: 1.5rem;
}
.custom-select{
	color:#aaa;
	option{
		color:#000;
	}
	&.active{
		color:#000;
	}
}
.btn{
	font-family: $font_bold;
	font-weight: 400;
	&:not(.btn-lg){
		font-size: inherit;
	}
	&.btn-sm{
		line-height:1;
	}
	&.btn-md{
		font-size: 110%;
	}
	&.loading{
		background-image: url('../img/loading.svg');
		background-position:50% 50%;
		background-size:24px auto;
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
	&[disabled],
	&[disabled]:hover,
	&[disabled]:focus,
	&[disabled]:active{
		background-color: $color_999!important;
		border-color: $color_999!important;
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-light-link{
	background-color: #F1F8FF;
	color:$primary;
	box-shadow: none!important;
	&:focus{
		box-shadow: none!important;
	}
}
.font-reg{
	font-family: $font!important;
}
.font-med{
	font-family: $font-med!important;
}
.font-small{
	font-size: 90%;
}
.m-1h{
	margin: 0.3rem 0.2rem;
}
.pl-2h{
	padding-left: 0.75rem;
}
.px-2h{
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.text-999{
	color:#999!important;
}
.text-link{
	color:$primary!important;
}
.text-alert{
	color:$danger;
	margin-top: 0.5rem;
}
.p{line-height: 0.7;}

/* ======================================
  MAIN HEADER
====================================== */
.main-header{
	.mh-container{
		visibility: visible;
		pointer-events:inherit;
		opacity: 1;
		/* @include abs(transition, 400ms all 0s ease);
		@include abs(transform, translateX(0)); */
	}
	&.fixed{
		box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	}
	&.show-search{
		.mh-container{
			/* @include abs(transform, translateX(-20%)); */
			visibility: hidden;
			pointer-events:none;
			opacity: 0;
		}
	}
	.box-search{
		background-color: #fff;
		position: absolute;
		width: 100%;height: 100%;
		top:0;
		visibility: hidden;
		pointer-events:none;
		opacity: 0;
		/* @include abs(transition, 400ms all 0s ease);
		@include abs(transform, translateX(80%)); */
	}
}
.mh-catalog{
	background-color: #fff;
	position: sticky;
	position: -webkit-sticky;
	top:0;
	z-index: 99;
	overflow: hidden;
}
.button-bar{
	//background-color: #fff;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,0.95)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	position: fixed;
	bottom:0;left:0;
	z-index: 99;
	width: 100%;
	padding-top:1rem;
	//box-shadow: 0 -1px 5px rgba(0,0,0,0.15);
}

/* ======================================
  EVENT ITEM
====================================== */
.event-item{
	text-align: center;
	display: block;
	margin: 0.5rem 0;
	span{
		display: block;
		margin: 5px 0;
	}
	small{
		color: $color_999;
		line-height: 1;
	}
	.e-title{
		font-size: 18px;
		font-family: $font_med;
		height: 54px;
		overflow: hidden;
	}
}
.e-poster-container{
	position: relative;
	z-index: 1;
	&::after{
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		position: absolute;
		top:0;left:0;
		width: 100%;height: 50%;
		content: "";
		display: block;
		z-index: 1;
		border-radius: 5px 5px 0 0;
	}
}
.e-poster{
	background: url('../img/loading.svg') 50% 50%/24px auto no-repeat;
	background-color: #eee;
	padding-bottom: 140%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	z-index: 2;
	.isLoaded &{
		background-color: transparent;
	}
	.e-body &{
		margin-top: -70%;
		&::before{
			border: 1px solid rgba(0,0,0,0.05);
			content: "";
			display: block;
			width: 100%;height: 100%;
			position: absolute;
			top:0;left:0;
			border-radius: 5px;
			z-index: 2;
		}
	}
	.e-header &{
		background: url('../img/loading.svg') 50% 50%/12px auto no-repeat;
		width: 24px;
		border-radius: 3px;
		img{
			border-radius: 3px;
		}
		&::before{
			border: 1px solid rgba(0,0,0,0.05);
			content: "";
			display: block;
			width: 100%;height: 100%;
			position: absolute;
			top:0;left:0;
			border-radius: 3px;
			z-index: 2;
		}
	}
	img{
		position: absolute;
		top:0;left:0;
		width:100%;
		border-radius: 5px;
		z-index: 1;
	}
}
/* ======================================
  EVENT DETAIL
====================================== */
.e-header{
	position: fixed;
	top:0;left:0;
	width: 100%;
	z-index: 99;
	background-color: transparent;
	@include transit(0);
	.col-e-title{
		opacity: 0;
		@include abs(transform,translateY(-5px));
		@include abs(transition,100ms all 0s ease);
	}
	&.fixed{
		background-color: #fff;
		box-shadow: 0 1px 5px rgba(0,0,0,0.1);
		.col-e-title{
			opacity: 1;
			@include abs(transform,translateY(0));
			@include abs(transition,300ms all 0s ease);
		}
		.btn-icon{
			background-color: transparent;
			@include transit(0);
			.a{display: none;}
			.b{display: inline-block;}
		}
		.btn-text{
			background-color: #0A28FF;
			border-color: #0A28FF;
		}
	}
	.btn-icon{
		background-color: rgba(0,0,0,0.15);
		border-radius: 50px;
		display: inline-block;
		height: 32px;width: 32px;
		padding: 4px;
		.b{
			display: none;
		}
	}
	.btn-text{
		background-color: rgba(0,0,0,0.3);
		border-color: rgba(0,0,0,0);
	}
}
.bg-cover{
	position: fixed;
	top:0;left:0;
	width: 100%;
	height: 40vw;
	overflow: hidden;
	z-index: 1;
	.inner{
		position: absolute;
		top:-20px;left:-20px;
		width: calc(100% + 60px);
		height: calc(100% + 60px);
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
	}
	.bg{
		background-size: cover;
		background-position: 50% 50%;
		filter:blur(10px) brightness(90%);
		width: 100%;height: 100%;
	}
	&:before{
		background: rgba(0,0,0,0.2);
		background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(100%, rgba(0,0,0,0.5)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		position: absolute;
		top:0;left:0;
		width: 100%;height: 100%;
		z-index: 2;
		content: "";
		display: block;
	}
}
.e-body{
	padding-top: 40vw;
	padding-bottom: 100px;
}
.e-content{
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.e-info{
	background-color: $color_blue_light;
	padding: 1rem 1.5rem;
	border-radius: $b_radius;
	font-family: $font_med;
	margin-bottom: 1.25rem;
	p{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
.e-detail-container{
	position: relative;
	max-height: 600px;
	overflow: hidden;
	margin-bottom: 1.5rem;
	&.h-auto{
		max-height: none;
	}
	.btn-more{
		@include gd-white;
		display: block;
		padding: 40px 0 0 0;
		text-align: center;
		position: absolute;
		bottom: 0;left:0;
		width: 100%;
	}
}
.e-round{
	background-color: $color_blue_light;
	margin-bottom: 1.25rem;
}
.e-round-detail{
	border:1px solid #d3e2f2;
	padding: 0.5rem;
	border-radius: 0 0 $border-radius-cs $border-radius-cs;
	.btn-item{
		display: inline-block;
		vertical-align: top;
		margin: 0.35rem 0.1rem;
		text-align: center;
		small{
			display: block;
			text-align: center;
			font-size: 75%;
			color: $color_999;
			margin-top: 0.1rem;
		}
	}
}
.e-seating{
	display: block;
	position: relative;
	.e-venue{
		//background-color: rgba(0,0,0,0.5);
		background: rgba(3,3,3,0);
		background: -moz-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(3,3,3,0.8) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,3,3,0)), color-stop(100%, rgba(3,3,3,0.8)));
		background: -webkit-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(3,3,3,0.8) 100%);
		background: -o-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(3,3,3,0.8) 100%);
		background: -ms-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(3,3,3,0.8) 100%);
		background: linear-gradient(to bottom, rgba(3,3,3,0) 0%, rgba(3,3,3,0.8) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3d3d3d', GradientType=0 );
		position: absolute;
		bottom:0;;left:0;
		width: 100%;
		padding: 3rem 0.5rem 0.5rem 0.5rem;
		text-shadow:0 0 3px rgba(0,0,0,0.5);
	}
}
.e-text-editor{
	a{
		//text-decoration: underline;
		color:#999;
	}
	ul,ol{
		li{
			margin-bottom: 0.35rem;
		}
	}
	table{
		width: 100%;
		font-size: 90%;
		margin-bottom: 1rem;
	}
	table td,table th{
		border: 1px solid #dee2e6;
		padding: 0.35rem;
	}
	img{
		border-radius: $border-radius;
	}
}

/* ======================================
  LINK ACCOUNT
====================================== */
.box-merge{
	text-align: center;
	.icon{
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		padding: 6px;
		position: absolute;
		top:-17px;left:50%;
		margin-left: -17px;
	}
	.border-top{
		position: relative;
	}
	/* &,*{
		border-color: #bbb!important;
	} */
}

/* ======================================
  FORM
====================================== */
.is-invalid{
	@include animate(shake 350ms 1 ease);
	&.box-recaptcha{
		border:1px solid $danger;
		border-radius: 4px;
		padding: 2px 0 0 2px;
		box-shadow: 0 0 0 0.2rem rgba(220,53,69,0.25);
	}
	&.form-control{
		background: none;
		padding-right: .75rem;
	}
	&.custom-select{
		background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
		padding-right: 1.75rem;
	}
	&+label{
		color:inherit!important;
		/* &+.text-alert{
			display: block!important;
		} */
	}
}
.custom-control-input.is-invalid:checked ~ .custom-control-label::before{
	border-color: #0A28FF;
	background-color: #0A28FF;
}
.text-alert{
	display: none;
	padding: 0 0.75rem;
}
.custom-control-label{
	line-height: 1.3;
}
label{
	font-family: $font_med;
}
.box-search{
	.show-search &{
		/* @include abs(transform, translateX(0)); */
		visibility: visible;
		pointer-events:inherit;
		opacity: 1;
	}
}
.form-seach{
	background-color: #eee;
	border-radius: 0.4rem;
	padding: 5px 10px;
	position: relative;
	margin-top: 12px;
	.btn-search{
		background-color: transparent;
		border:none;
		padding: 0;
	}
	.input-search{
		background-color: transparent;
		border:none;
		width: 100%;
		padding: 4px 0;
	}
	.close-search{
		display: block;
		position: absolute;
		right: 0;top:0;
		height: 100%;width: 40px;
		span{
			display: block;
			background:rgba(0,0,0,0.05) url('../img/icon/x.svg') 50% 50%/8px auto no-repeat;
			border-radius: 50%;
			position: absolute;
			left: 50%;top:50%;
			width: 20px;height: 20px;
			margin-top: -10px;
			margin-left: -10px;
		}
	}
}

/* ======================================
  DIALOG
====================================== */
.fancybox-slide--html{
	padding: 1.3rem;
}
.dialog{
	position: fixed;
	width: 100%;height: 100%;
	top:0;left:0;
	z-index: 100;
	display: none;
	padding: 1rem;
	&.show{
		.d-inner{
			opacity: 1;
			@include abs(transform, translateY(0) translateX(-50%));
			@include abs(transition, 400ms transform 0s ease);
		}
		.d-close{
			opacity: 1;
		}
	}
	.d-inner{
		background-color: #fff;
		position: absolute;
		bottom: 1rem;left: 50%;
		padding: 0.5rem 1.25rem;
		z-index: 2;
		opacity: 0;
		width: calc(100% - 2.5rem);
		max-width: 500px;
		@include abs(transition, 400ms all 0s ease);
		@include abs(transform, translateY(150%) translateX(-50%));
	}
	.d-close{
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		z-index: 1;
		width: 100%;height: 100%;
		top:0;left:0;
		display: block;
		opacity: 0;
		@include abs(transition, 300ms all 0s linear);
	}
}
.dialog-msg{
	text-align: center;
	padding: 1.25rem;
	border-radius: .5rem;
	width: 100%;
	max-width: 480px;
	.fancybox-close-small{
		display: none;
	}
}
.embed-responsive{
	background: url('../img/loading.svg') 50% 50%/24px auto no-repeat;
	background-color: #eee;
}
.yt-player{
	border-radius: $border-radius;
}

.text-badge{
	border:1px solid #dc3545;
	display: inline-block;
	padding: .1em .3em;
	border-radius: 4px;
	font-family: $font_med;
	line-height: 1;
	font-weight: 400;
	&.tb-danger{
		border:1px solid #dc3545;
		color:#dc3545;
	}
}