/* ======================================

====================================== */
body{
	font-family: $font;
	color:#333;
	line-height: 1.3;
}
strong{
	font-weight: 700;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul,ol{
	padding-left: 1.5rem;
}
.custom-select{
	color:#aaa;
	option{
		color:#000;
		&[disabled],&[value=""] {
		  color: #999;
		  background-color: #f4f4f4;
		  cursor: not-allowed;
		}
	}
	&.active{
		color:#000;
	}
}
.btn{
	font-weight: 500;
	border-radius: 50px;
	&:not(.btn-lg){
		font-size: inherit;
	}
	&.btn-md{
		font-size: 110%;
	}
	&[disabled],
	&[disabled]:hover,
	&[disabled]:focus,
	&[disabled]:active{
		background:none;
		background-color: $color_999!important;
		border-color: $color_999!important;
		box-shadow: none!important;
		outline: none!important;
		filter:brightness(100%)!important;
		pointer-events:none;
		cursor:not-allowed;
	}
	&.loading{
		background-image: url('../img/loading.svg');
		background-position:50% 50%;
		background-size:24px auto;
		background-repeat: no-repeat;
		text-indent: -9999px;
		&.btn-primary{
			background-color: #b40000!important;
			border-color: #b40000!important;
			opacity: 0.5;
		}
	}
}
.btn-light-link{
	background-color: #F1F8FF;
	color:$primary;
	box-shadow: none!important;
	&:focus{
		box-shadow: none!important;
	}
}
.btn-primary{
	background-color: transparent;
	background: #b40000;
	background: -moz-linear-gradient(left, #b40000 0%, #ff0000 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #b40000), color-stop(100%, #ff0000));
	background: -webkit-linear-gradient(left, #b40000 0%, #ff0000 100%);
	background: -o-linear-gradient(left, #b40000 0%, #ff0000 100%);
	background: -ms-linear-gradient(left, #b40000 0%, #ff0000 100%);
	background: linear-gradient(to right, #b40000 0%, #ff0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b40000', endColorstr='#ff0000', GradientType=1 );
	border-color: #b40000;
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
	&:hover,
	&:focus,
	&:active{
		border-color: #b40000!important;
		filter:brightness(110%);
	}
}
.btn-border{
	border-color:#bbb;
	&:hover{
		border-color: #888;
	}
}
.font-reg{
	font-weight: 400;
}
.font-med{
	font-weight: 500;
}
.font-semi{
	font-weight: 600;
}
.font-normal{
	font-size: 1rem;
}
.font-small{
	font-size: 90%;
}
.m-1h{
	margin: 0.3rem 0.2rem;
}
.pl-2h{
	padding-left: 0.75rem;
}
.px-2h{
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.text-999{
	color:#999!important;
}
.text-link{
	&:hover{
		text-decoration: underline;
	}
}
.text-red{
	color:$color_red!important;
}
.text-alert{
	font-size: 90%;
	color:$danger;
	margin-top: 0.5rem;
	display: none;
	padding: 0 0.75rem;
}
.p{line-height: 0.7;}
.text-float{
	position: relative;
	span{
		background-color: #fff;
		padding: 0 10px;
		display: inline-block;
		font-size: 80%;
		position: absolute;
		left:50%;top:50%;
		transform:translateX(-50%) translateY(-50%);
	}
}
.main-container{
	padding: 1rem 0 2rem 0;
}

/* ======================================
  MAIN HEADER
====================================== */
.hgroup{
	text-align: center;
	line-height: 1.5;
	h1{
		margin-bottom: 0.5rem;
		&+*{
			margin-top: 0.5rem;
		}
	}
}

/* ======================================
  LINK ACCOUNT
====================================== */
.box-merge{
	text-align: center;
	.icon{
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		padding: 6px;
		position: absolute;
		top:-17px;left:50%;
		margin-left: -17px;
	}
	.border-top{
		position: relative;
	}
	/* &,*{
		border-color: #bbb!important;
	} */
}

/* ======================================
  FORM
====================================== */
.custom-control{
	line-height: 1.5;
}
.is-invalid{
	@include animate(shake 350ms 1 ease);
	&.box-recaptcha{
		border:1px solid $danger;
		border-radius: 4px;
		padding: 2px 0 0 2px;
		box-shadow: 0 0 0 0.2rem rgba(220,53,69,0.25);
	}
	&.form-control{
		background: none;
		padding-right: .75rem;
	}
	&.custom-select{
		background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
		padding-right: 1.75rem;
	}
	&+label{
		color:inherit!important;
		/* &+.text-alert{
			display: block!important;
		} */
	}
}
.custom-control-input.is-invalid:checked ~ .custom-control-label::before{
	border-color: #0A28FF;
	background-color: #0A28FF;
}
label{
	font-weight: 500;
}

.checklist-password{
	background-color: #f0f7fb;
	font-size: 80%;
	list-style: none;
	margin:0;padding:0.25rem 0.75rem;
	border-radius: $b_radius;
	border:1px solid $danger;
	li{
		margin: 0.5rem 0;
		padding-left: 20px;
		position: relative;
		&::before{
			position: absolute;
			top:0;left:0;
			font-family: $font_aw;
			content: "\f06a";
			display: inline-block;
			color:#999;
		}
		&.success{
			color:$green;
			font-weight: 500;
			&::before{
				content: "\f058";
				color:$green;
			}
		}
		&.text-med{
			font-weight: 600;
			padding-left: 0;
			font-size: 110%;
			&::before{
				display: none!important;
			}
		}
	}
}

/* ======================================
  DIALOG
====================================== */
.fancybox-slide--html{
	padding: 1.3rem;
}
.dialog{
	position: fixed;
	width: 100%;height: 100%;
	top:0;left:0;
	z-index: 100;
	display: none;
	padding: 1rem;
	&.show{
		.d-inner{
			opacity: 1;
			@include abs(transform, translateY(0) translateX(-50%));
			@include abs(transition, 400ms transform 0s ease);
		}
		.d-close{
			opacity: 1;
		}
	}
	.d-inner{
		background-color: #fff;
		position: absolute;
		bottom: 1rem;left: 50%;
		padding: 0.5rem 1.25rem;
		z-index: 2;
		opacity: 0;
		width: calc(100% - 2.5rem);
		max-width: 500px;
		@include abs(transition, 400ms all 0s ease);
		@include abs(transform, translateY(150%) translateX(-50%));
	}
	.d-close{
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		z-index: 1;
		width: 100%;height: 100%;
		top:0;left:0;
		display: block;
		opacity: 0;
		@include abs(transition, 300ms all 0s linear);
	}
}
.dialog-msg{
	text-align: center;
	padding: 1.25rem;
	border-radius: .5rem;
	width: 100%;
	max-width: 480px;
	.fancybox-close-small{
		display: none;
	}
	@include media-breakpoint-down(sm) {
		font-size: 90%;
	}
}
.embed-responsive{
	background: url('../img/loading.svg') 50% 50%/24px auto no-repeat;
	background-color: #eee;
}
.yt-player{
	border-radius: $border-radius;
}

.text-badge{
	border:1px solid #dc3545;
	display: inline-block;
	padding: .1em .3em;
	border-radius: 4px;
	font-weight: 500;
	line-height: 1;
	font-weight: 400;
	&.tb-danger{
		border:1px solid #dc3545;
		color:#dc3545;
	}
}

// PHONE NUMBER
.iti{
	width: 	100%;
}
.iti__dropdown-content{
	font-size: 90%;
}
.iti__search-input{
	padding: 0.5rem;
}

// ADDRESS
.tt-dataset{
	max-height: 250px;
	overflow: auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.countdown-button{
	display: inline-block;
}
.form-control-verify{
	height: calc(1.5em + 1rem + 2px);
	padding: 0.25rem .5rem;
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	font-weight: 600;
	appearance: none;

	/* Chrome, Safari, Edge, Opera */
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	 -moz-appearance: textfield;
}
.is-right{
	border-color:$green;
	box-shadow: 0 0 0 1px $green;
}
.is-wrong{
	border-color:$danger;
	box-shadow: 0 0 0 1px $danger;
}
.countdown-btn{
	min-width: 45px;
	display: inline-block;
	text-align: left;
}
// DROPDOWN
.box-dropdown{
	position: relative;
	font-size: 90%;
	.btn-dropdown{
		background-color: rgba(0,0,0,0.05);
		border-radius: 50px;
		padding: 7px 5px;
		color:$color_menuTXT;
		border: none;
		font-weight: 500;
		&:hover,
		&:focus{
			background-color: rgba(0,0,0,0.1);
		}
		&:focus{
			outline: none;
		}
		img{
			width: 22px;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			padding: 0 5px;
		}
	}
}
.dropdown-menu:not(.datepicker){
	// background-color: $color_headerBG;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	text-align: left;
	position: absolute;
	z-index: 9;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	right: 0;left: auto;
	top:auto;bottom:100%;
	margin-top: 5px;
	display: block;
	pointer-events:none;
	@include transit(0);
	@include transform(translateY(-5px));
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	.show-dropdown &{
		pointer-events:initial;
		visibility: visible;
		opacity: 1;
		@include transform(translateY(5px));
	}
	.dropdown-divider{
		background-color: #eee;
		width: 100%;height: 1px;
		//margin: 5px 0;
	}
}
.dropdown-item{
	background-color: #fff;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	color:$color_menuTXT;
	padding: 8px 16px;
	&:hover{
		color:$color_menuTXT;
	}
	.main-nav &{
		font-size: 16px;
	}
	// google translate plugin
	.goog-te-gadget-icon{display: none!important;}
	.goog-te-gadget-simple{
		background-color: transparent;
		border:none;
		padding: 0;
		font-family: $font;
		&:hover{
			background-color: transparent!important;
		}
		.goog-te-menu-value{
			color:$color_menuTXT;
			display: block;
			padding: 0;
			margin:0;
		}
		span{
			display: inline-block;
		}
		[style="border-left: 1px solid rgb(187, 187, 187);"],
		[style="border-left-width: 1px; border-left-style: solid; border-left-color: rgb(187, 187, 187);"],
		img{
			display: none;
		}
		[style="vertical-align: middle;"]{
			padding: 0;
		}
		[style="color: rgb(118, 118, 118);"]{
			margin-left: 5px;
			color:$color_menuTXT!important;
		}
	}
}